@use "../../styles/base/vars" as v;

.my-films {
  &__title {
    font-size: 32px;
    text-align: center;
  }
  &__items {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
  }
}
