@use "../../styles/base/vars" as v;

.my-films {
  &__title {
    font-size: 32px;
    text-align: center;
  }
  &__items {
    padding: 50px 0;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fill, 300px);
    margin: auto;
    justify-content: center;
  }
}
@media (max-width: 1440px) {
  .my-films {
    &__items {
      grid-template-columns: repeat(auto-fill, 250px);
    }
  }
}
