@use "../../styles/base/vars" as v;
.profile {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  font-size: 30px;
  &__avatar {
    max-width: 100px;
  }
  &__unauth {
    text-align: center;
  }
  &__btn {
    font-size: 24px;
    &:hover {
      color: v.$accent;
    }
  }
}
