.film {
  position: relative;
  width: 300px;
  flex-shrink: 0;
  &__link {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      border-radius: 10px;
      background-color: transparent;
      transition: background-color 0.2s;
    }
    &:hover.film__link::before {
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.2s;
    }
  }
  &__img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    align-content: center;
    text-align: center;
    &--preloader-wrapper {
      width: 100%;
      height: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(68, 68, 68);
      border-radius: 10px;
    }
    &--preloader {
      width: 149px;
      height: 150px;
    }
  }
  &__name {
    width: 100%;
    padding: 10px 0;
    font-size: 28px;
  }
  &__like {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
  }
  &__preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 300px;
    height: 450px;
    background-color: white;
    img {
      width: 64px;
      height: 64px;
    }
  }
}
@media (max-width: 1440px) {
  .film {
    width: 250px;
    &__img {
      height: 375px;
      &--preloader-wrapper {
        height: 375px;
      }
    }
  }
}
