.movie {
  position: relative;
  padding-bottom: 100px;

  &__container {
    padding: 0 30px;
  }
  &__backdrop {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: -85px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(
        rgba(24, 27, 42, 1) 0%,
        rgba(24, 27, 42, 0.5) 20%,
        rgba(24, 27, 42, 1) 80%
      );
      z-index: 1;
    }
    &--img {
      width: 100vw;
    }
    &--logo {
      position: absolute;
      top: 0;
      padding-top: 162px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 500px;
      width: 500px;
      z-index: 3;
    }
    &--name {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 162px;
      font-size: 45px;
      font-weight: bold;
      z-index: 3;
      max-width: 500px;
      text-align: center;
    }
  }
  &__logo {
    padding-top: 100px;
  }
  &__img {
    width: 440px;
    border-radius: 10px;
  }
  &__player {
    padding-top: 50px;
  }

  &__info {
    width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
  }
  &__description {
    max-width: 1300px;
    text-align: justify;
  }
  &__sequels,
  &__similar {
    max-width: 90%;
    width: fit-content;
    margin: 0 auto;
    padding-top: 100px;
    &--title {
      font-size: 36px;
    }
  }
  &__actors {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 90%;
    width: fit-content;
    &--title {
      font-size: 36px;
    }
    &--row {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      padding-top: 20px;
      margin: 0 auto;
    }
  }
  &__actor {
    width: 170px;
    flex-shrink: 0;
    &--img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
    &--name {
      width: 100%;
      text-align: center;
    }
  }
}
@media (max-width: 1580px) {
  .movie {
    &__img {
      width: 330px;
    }
  }
}
@media (max-width: 1330px) {
  .movie {
    &__backdrop {
      &--logo {
        padding-top: 125px;
        max-width: 90%;
        width: 400px;
      }
      &--name {
        padding-top: 100px;
        width: 500px;
      }
    }
    &__img {
      width: 270px;
    }
    &__player {
      width: 85% !important;
    }
    &__info {
      width: 85% !important;
      font-size: 18px;
    }
  }
}
@media (max-width: 1040px) {
  .movie {
    &__backdrop {
      top: 55px;
      &--logo {
        padding-top: 50px;
      }
    }
    &__logo {
      padding-top: 260px;
    }
    &__img {
      margin: 0 auto;
    }
    &__info {
      width: 100% !important;
    }
    &__player {
      width: 100% !important;
    }
  }
}
@media (max-width: 730px) {
  .movie {
    &__backdrop {
      &--img {
        height: 400px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 670px) {
  .movie {
    &__img {
      width: 250px;
    }
  }
}
