@use "../../styles/base/vars" as v;

.header {
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 24px;
  @media (max-width: v.$laptop-size) {
    font-size: 21px;
  }
  @media (max-width: v.$mobile-size) {
    padding: 25px 20px;
  }

  &__logo {
    font-size: 36px;
    font-weight: 700;
  }
  &__menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    // overflow: hidden;
    @media (max-width: v.$laptop-size) {
      gap: 20px;
    }
  }
}

a.my-watch {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease-out;

  &:hover {
    color: v.$accent;
  }
  @media (max-width: v.$mobile-size) {
    span {
      display: none;
    }
  }
}

.user {
  &__avatar {
    width: 50px;
    border-radius: 50%;
  }
}
