@use "../../styles/base/vars" as v;

.film-list {
  padding-top: 50px;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fill, 300px);
  margin: auto;
  justify-content: center;
  &--loading{
    padding-top: 200px;
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 1440px) {
  .film-list {
    grid-template-columns: repeat(auto-fill, 250px);
  }
}
