@use "../../styles/base/vars" as v;

.player {
  width: 1100px;
  margin: 0 auto;
  // max-height: 600px;
  min-height: 200px;
  &__types {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
      background: v.$page-bg-accent;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: v.$accent;
      border-radius: 20px;
      border: 3px solid v.$page-bg-accent;
    }
  }
  &__type {
    transition: 0.2s ease-out;
    &--active {
      color: v.$accent;
    }
    &:hover {
      color: v.$accent;
    }
  }

  .premier {
    font-size: 30px;
    text-align: center;
  }
}
