@use "../base/vars" as v;

html {
  scroll-behavior: smooth;
}

body {
  background-color: v.$page-bg;
  color: v.$text-main;
  font-size: 24px;
  font-family: v.$font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media(max-width: v.$laptop-size){
    font-size: 20px;
  }
}
*::placeholder{
  color: v.$test-secondary;
}

img {
  display: block;
}

.container {
  max-width: v.$container-width;
  padding: 0 v.$container-padding;
  margin: 0 auto;
}

//   .title-1 {
//     font-size: 80px;
//     font-weight: 700;
//   }
  .title-2 {
    font-size: 40px;
    font-weight: 700;
  }

  .link{
    color: inherit;
    &:hover {
      color: v.$accent;
    }
  }
//   .title-3 {
//     font-size: 30px;
//     font-weight: 500;
//   }
//   a {
//     color: var(--text-color);
//   }
//   a.link {
//     font-size: 20px;
//     font-weight: 500;
//     color: var(--text-color);
//     text-decoration: underline;
//   }
//   @media (max-width: 1130px) {
//     .title-1 {
//       font-size: 50px;
//       font-weight: 700;
//     }
//     .title-2 {
//       font-size: 35px;
//     }
//     .title-3 {
//       font-size: 25px;
//     }
//   }
  @media (max-width: 650px) {
    // .title-1 {
    //   font-size: 40px;
    //   font-weight: 500;
    // }
    .title-2 {
      font-size: 32px;
    }
    // .title-3 {
    //   font-size: 25px;
    //   font-weight: 400;
    // }
  }
