$container-width: 2100px;
$container-padding: 20px;

$font-main: "Gilroy", sans-serif;

$page-bg: #181B2A;
$page-bg-accent: #22263B;
$accent: #8577FF;
$text-main: #F0F0F5;
$test-secondary: #b8bad283;

$laptop-size: 1499px;
$tablet-size: 959px;
$mobile-size: 599px;
