$container-width: 1690px;
$container-padding: 15px;

$font-main: "Gilroy", sans-serif;

$page-bg: #29282D;
$page-bg-accent: #686de0;
$accent: #7D5E9A;
$text-color: #fff;

$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;
